.annotation {
  position: relative;
  width: fit-content;
}

.annotation::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: auto;
}

.annotation-added {
  background-color: #f0fdf4;
}

.annotation-changed {
  background-color: #fefce8;
}

.annotation-deleted {
  background-color:#ffe2e2;
}

.annotation-label {
  font-size: 0.75em;
  color: darkgray;
}

.annotation-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

