.cell {
    position: relative;
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.cell.cell-added {
    border-left: 3px solid #68c58a;
    background-color: #d4ffe14f;
    margin-left: 0px;
    padding-left: 4px;
}

.cell.cell-added.cell-highlighted {
    background-color: #aaffc3;
}

.cell.cell-changed {
    border-left: 3px solid #f8b62e;
    background-color: #ffefc078;
    margin-left: 0px;
    padding-left: 4px;
}

.cell.cell-changed.cell-highlighted {
    background-color: #ffd99b;
}


.cell-gutter {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;

    display: flex;
    flex-direction: row;

    & .lucide {
        color: darkgray;
    }
}

.cell-tag {
    color: darkgray;
    font-size: 11pt;
}

.cell-content {
    flex-grow: 1;
    height: auto;
    max-width: 100%;
}
