.cell {
    position: relative;
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.cell.cell-added {
    background-color: #f0fdf4;
}

.cell.cell-changed {
    background-color: #fefce8;
}

.cell.cell-deleted {
    background-color:#ffe2e2;
}

.cell-gutter {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;

    display: flex;
    flex-direction: row;

    & .lucide {
        color: darkgray;
    }
}

.cell-tag {
    color: darkgray;
    font-size: 11pt;
}

.cell-content {
    flex-grow: 1;
    height: auto;
    max-width: 100%;
}
